* {
  font-family: 'Montserrat', sans-serif;
}
.task-container {
  margin-left: 5px;
  list-style: none;
}
.search-container {
  width: 50px;
  margin-left: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.header-1 {
  margin-top: 20px;
}

.task-grid {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-top: 70px;
  width: 900px;
}

.task-card {
  width: 760px;
  margin: 2.5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #5a6794;
  border-top: 5px solid #1c2135;
}

.task-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #e7e9ee;
}

.mentor-name {
  margin-top: 15px;
  color: black;
  font-size: 15px;
  margin-left: 10px;
  position: absolute;
  overflow: wrap;

  font-weight: 700;
}

.join-button {
  margin-left: 220px;
  margin-top: 0px;
}

.join-button .join {
  float: left;
  border-radius: 30px 30px 30px 30px;
  margin-left: 520px;
  width: 100px;
  height: 40px;
  color: #10295a;
  background-color: whitesmoke;
  box-shadow: 2px 0px 2px 0 #5a6794;
}
.join {
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  color: #3b3b3b;
}
.descript {
  font-size: 20px;
  margin-left: 10px;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

.sidetasks {
  padding-top: 0px;
  margin-top: -170px;
  margin-left: 1050px;
  position: fixed;
  height: 700px;
}
