.mainbody {
  border: 5px solid #10295a;
  color: white;
  padding: 15px;
  border-radius: 20px;
  margin-top: 0px;
  min-height: 800px;
  width: 380px;
  box-shadow: #5a6794;
}

.inputtext {
  background-color: white;
  width: 78%;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 30px;
}
.but {
  width: 18%;
  border-radius: 10px;
  height: 30px;
  margin-left: 10px;
  font-weight: 900;
}
.tassk {
  color: whitesmoke;
  background-color: #10295a;
  height: 80px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 700;
  overflow: hidden;
  border-left: 8px solid #5a6baf;
}
.headd {
  background-color: #10295a;
  padding: 5px;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-left: 5px;
}

.par {
  font-weight: 500;
  color: whitesmoke;
}
.qweq {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}
.dateq {
  font-weight: 400;
}
.qqeeww {
  padding-left: 5px;
}
