
.header-1 {
  height: 200px;
  width: 100%;
  background-color: #E9EEF6;
  
}
.container{
  display: grid;
  grid-template-columns: 223px 1fr;
  height: 100vh;
  min-width: 100vw;

}
.header-1{
  margin: 0 auto;
  
}