.header-1 {
  height: 100px;
  width: 100%;
  margin-left: 130px;



}

.h3{
  margin-right: 250px;
}
.button-1{
  margin-left: 400px;
}


.header-icons {
  display: flex;
  gap: 10px;
  margin-left: 1080px;
  color:#3B3B3B;
  width: 200px;
  position: absolute;
  overflow:wrap;
  margin-top: 0;
  margin-bottom: 0px;

}
.button-1{
  background-color: #112957;
}
.search-container{
  width: 600px;
  height: 50px;
  background-color: #3B3B3B;
  justify-content: center;
  border-radius: 20px;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 60px;
  margin: 20px 0;
  padding: 15px;
  background-color: #112957;
  color: white;
  border-radius: 20px;
  margin-left: 35px;
}

.search-bar input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  color: #112957;
}

.create-button {
  color: white;
  font-weight: 700;

}
.input-search{
  border-radius: 10px;
}
.icon1{
  color: #112957;
  margin-top: 7px;
}
.mentor-lesson{
  margin-left: 40px;
  color: #112957;
}
.poisk{
  margin-right: 30px;
}
.drop1{
  background-color: #112957;
}
.rowProfile{
  margin-top: 47px;
}
.user-container{
  background-color: #3B3B3B;
  width: 800px;
  height: 500px;

}
.card1{
  width: 300px;
  height: 520px;
  margin-left: 170px;
  color: white;
  background-color: #112957;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.users-name{
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
}
.user-photo{
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  justify-content:center ;


}
.user-description{
  margin-left: 20px;
  padding-top: 30px;
}
.user-qualities{
  margin-left: 20px;
  padding-top: 20px;
}
.user-icon{
  color: white;
  size: 70px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.us-icon{
  color: white;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  margin-top: 10px;


}


.user-button{
  width: 200px;
  height: 50px;

  background-color: white;
  justify-content: center;
  border-radius: 10px;
  color: #112957;
  font-weight: 700;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-con{
  justify-content: center;
  display: flex;
}
.search-icon{
  background-color: white;
  color: black;
  height: 30px;
  width: 20px;
  position: absolute;
  overflow:wrap;
  margin-left: 0px;
}

.usercard-container{
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}